< body style="background-color: black;">

<div class="container z-depth-1 my-5 px-0 ">
 

    <!--Section: Content-->
    <section class="my-md-5">

    <section style="background-image: url('../../../assets/images/contact.jpg'); background-size: cover; background-position: center center; z-index:300">
  
      <div class="rgba-white-strong rounded p-5">
  
        <!-- Section heading -->
        <h3 class="text-center font-weight-bold text-white mt-3 mb-5">Contact Us</h3>
  
        <form class="mx-md-5" action="">
  
          <div class="row">
            <div class="col-md-6 mb-4">
  
              <div class="card ">
                <div class="card-body px-4">
  
                  <!-- Name -->
                  <div class="md-form md-outline mt-0">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control">
                   
                  </div>
                  <!-- Email -->
                  <div class="md-form md-outline">
                    <label for="email">Email Address</label>
                    <input type="text" id="email" class="form-control">
                    
                    
                  </div>
                  <!-- Message -->
                  <div class="md-form md-outline">
                    <label for="message">Comment</label>
                    <textarea id="message" class="md-textarea form-control" rows="3"></textarea>
                    
                  </div>
  
                  <button type="submit" class="btn btn-primary btn-md btn-block ml-0 mb-0">Submit</button>
  
                </div>
              </div>
  
            </div>
            <div class="col-md-5 offset-md-1 mt-md-4 mb-4 ">
  
              <h5 class="font-weight-bold text-white">Address</h5>
              <p class="mb-0 text-white">macfast</p>
              <p class="mb-0 text-white">thiruvalla,pathanamthitta</p>
              <p class="mb-4 pb-2 text-white">kerala,india</p>
  
              <h5 class="font-weight-bold text-white">Phone</h5>
              <p class="mb-4 pb-2 text-white">+ 01 234 567 89</p>
  
              <h5 class="font-weight-bold text-white">Email</h5>
              <p class="text-white">sonuyohannan4@gmail.com</p>
  
            </div>
          </div>
  
        </form>
  
      </div>
  
    </section>
    <!--Section: Content-->
  
  </section>
  