
<body style="background-color: black;">
<div class="container p-5">
    <div class="row">
      <div class="col mb-5" *ngFor="let i of artform">
        <div class="card" style="width: 18rem;height:32rem">
            <img src="../../../assets/images/{{i.images}}" class="card-img-top" alt="..." height="180" width="230">
            <div class="card-body">
              <h5 class="card-title">{{i.name}}</h5>
              <p class="card-text"style="width: 18rem;">{{i.description}}</p>
              <a (click)="gotohere(i.id)" class="btn btn-primary">see more</a>
            </div>
          </div>
      </div>
      </div>
    </div>
    </body>